.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn-success:not(:disabled):not(.disabled).active {
  color: white;
  background-color: #2CD5C4;
  border-color: #2CD5C4
}

.btn-success:not(:disabled):not(.disabled):active {
  color: white;
  background-color: #2CD5C4;
  border-color: #2CD5C4
}

.btn-success:hover {
  color: white;
  background-color: #25b0a2;
  border-color: #25b0a2
}

.btn-success {
  color: white;
  background-color: lightGray;
  border-color: lightGray
}

.flexComp {
  display: flex;
  flex-flow: column;
}

.spaceFill {
  flex-flow: column;
  flex: 1;
}
