body {
  margin: 0;
  font-family: 'sofia_proregular';
}

.sofiaHeader {
  font-family: 'sofia_probold';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
